.header {
  position: relative;
  height: 60px;
  justify-content: flex-start;
  align-content: center;
  display: flex;
  padding-left: 15%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.335);
  z-index: 100;
}
.header nav {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  justify-content: flex-start;
}
.header a {
  display: inline;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  color: inherit;
}
.header img {
  image-rendering: optimizeSpeed;
  height: 60px;
}

.btnSearch {
  display: inline-flex;
  margin: 0.5em auto;
  align-self: flex-end;
  padding: 0.5em;
}
.btnSearch svg {
  margin-right: 0.3em;
}
.btnLogin {
  display: flex;
  margin-left: 10em;
  padding: 0.2em;
  flex-direction: column;
  justify-content: flex-end;
}
