.wrapper {
	display: flex;
	flex-direction: column;
}
.flexWrapper {
	justify-content: center;
	display: inline-flex;
}
@media (max-width: 900px) {
	.flexWrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 100vw;
		overflow-x: hidden;
	}
}
