@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

.offers .orange-header {
  position: absolute;
  background-color: #f56b2a;
  width: 150%;
  height: 300px;
  border-radius: 70%;
  top: -150px;
  left: -25%;
}
.offers {
  justify-content: center;
}
.search-box {
  position: relative;
  display: flex;
  background-color: #ffffff;
  height: 130px;
  width: 50%;
  min-width: 500px;
  z-index: 200;
  margin: 2.2em auto;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.198);
}
.search-box .input {
  height: fit-content;
  width: 40%;
  min-width: 300px;
  background-color: #f4f6f7;
  color: grey;
  margin: auto 1em;
  border: none;
  vertical-align: center;
}
.search-box svg {
  vertical-align: center;
  align-self: center;
  padding: 0 0.5em;
}
.search-box input {
  display: inline-flex;
  height: 40px;
  width: 70%;
  border: none;
  background-color: inherit;
  text-align: center;
  margin: 0 1em;
  font-size: 1rem;
  outline: none;
}
.search-box button {
  background-color: #4183d7;
  height: 40px;
  padding: 0.7em;
  width: 15%;
  min-width: 100px;
  border-radius: 0.2em;
  color: white;
  margin: auto 1em;
}
.card {
  display: flex;
  width: 60%;
  height: 160px;
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.198);
  margin: 1em auto;
}
.boxShadow {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.198);
  border-radius: 0.2em;
}
.card .img {
  width: 200px;
  height: 160px;
  display: inline-flex;
  background-color: #cad1d9;
}
.card img {
  height: 160px;
  width: 200px;
  object-fit: contain;
  display: inline-flex;
}
.card-info {
  display: flex;
  flex-direction: column;
  padding: 0.3em 1em;
  justify-content: space-between;
  margin: 1em;
}
.card-info div p:nth-child(2) {
  color: #f56b2a;
  margin-top: 1em;
}
footer {
  display: flex;
  background-color: #474747;
  height: 60px;
  align-content: center;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer p {
  display: flex;
  padding-top: 20px;
  color: white;
  font-size: 1rem;
  justify-content: center;
}
.pages {
  justify-content: center;
  display: flex;
}
.pages div {
  margin: 1em;
  padding: 0.5em 0.7em;
}
.selected-page {
  background-color: #f56b2a;
  border-radius: 0.2em;
}
.link {
  text-decoration: none;
  color: inherit;
}
.offer-details {
  margin-top: 150px;
}

.cardDetail {
  width: 40%;
  height: 560px;
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.198);
  margin: 1em auto;
}
.cardDetail .img {
  display: flex;
  width: 100%;
  height: 360px;
  background-color: #cad1d9;
  justify-content: center;
}
.cardDetail img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;

  margin: auto;
}
.cardDetail-info {
  display: flex;
  flex-direction: column;
  padding: 0.3em 1em;
  justify-content: space-between;
  margin: 1em;
}
.cardDetail-info div:nth-child(2) {
  color: #f56b2a;
  margin-top: 1em;
}
.cardDetail-info div:last-child p {
  margin-top: 5em;
}
.description {
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
}
.cart {
  display: flex;
  width: 20%;
  background-color: rgb(255, 255, 255);
  height: 200px;
}
